<form data-request="onRegister">
  <div class="input-field col s12 m6 l6">
    <input id="registerName" name="name" type="text" class="validate">
    <label for="registerName">Full Name</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input id="registerEmail" name="email" type="email" class="validate">
    <label for="registerEmail">Email</label>
  </div>
  <div class="input-field col s12">
    <input id="registerPassword" name="password" type="password" class="validate">
    <label for="registerPassword">Password</label>
  </div>
  <div class="col s12">
    <button type="submit" class="btn btn-default custom-margin full-width-btn">Register</button>
  </div>
</form>

  <!-- <div class="form-group">
    <label for="registerName">Full Name</label>
    <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="Enter your full name" />
    </div>

    <div class="form-group">
        <label for="registerEmail">Email</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="Enter your email" />
    </div>

    <div class="form-group">
        <label for="registerPassword">Password</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="Choose a password" />
    </div>

    <button type="submit" class="btn btn-default">Register</button> -->
