=====
<footer class="page-footer fixed-footer">
  <div class="row custom-row">
    <div class="col l4 m12 s12">
      <a class="modal-trigger left" href="#modal2"><i class="material-icons apps-white left">apps</i></a>
      <form class="left">
        <div class="input-field left">
          <input placeholder="Subscribe for news" id="Subscribe_for_news" type="text" class="validate">
        </div>
        <a class="btn-flat">Subscribe</a>
      </form>
    </div>
    <div class="center-align footer-socials col l4 m6 s12">
      <a class="btn-floating btn-large waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
      <a class="btn-floating btn-large waves-effect waves-light white"><i class="fa fa-instagram"></i></a>
      <a class="btn-floating btn-large waves-effect waves-light white"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="col l4 m6 s12">
      <span class="center-align">Akira 2015. Made by 8Guild with <i class="material-icons red-favorite">favorite</i> love</span>
    </div>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light btn-scroll blue scrollToTop"><i class="material-icons">keyboard_arrow_up</i></a>
</footer>
<div id="modal2" class="modal bottom-sheet">
  <div class="modal-content white">
    <div class="apps-panel">
      <div class="container">
        <div class="row">
          <div class="footer-half col l6">
            <div class="col l6 m6 s12">
              <div class="card">
                  <div class="card-content">
                    <div class="badges">
                      <p>On Twitter</p>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card-action">
                    <div class="badges">
                      <span class="chip new badge">
                        <img src="http://localhost:8000/storage/app/media/chips-img1.png" alt="Contact Person">
                    Akira
                      </span>
                    </div>
                    <p>I am a very simple card. I am good at containing small <a class="none-text-transform" href="#">bits of information.</a>
                    I am convenient because I require little markup to use effectively.</p>
                      <p>5:34 PM - 4 Jul 2015</p>
                      <div class="socials">
                        <a href="#"><i class="material-icons blue-social">reply</i></a>
                        <a href="#"><i class="material-icons blue-social">thumbs_up_down</i></a>
                        <a href="#"><i class="material-icons blue-social">star_rate</i></a>
                      </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card-action">
                    <div class="badges">
                      <span class="chip new badge">
                        <img src="http://localhost:8000/storage/app/media/chips-img1.png" alt="Contact Person">
                    Akira
                      </span>
                    </div>
                    <p>I am a very simple card. I am good at containing small <a class="none-text-transform" href="#">bits of information.</a>
                    I am convenient because I require little markup to use effectively.</p>
                      <p>5:34 PM - 4 Jul 2015</p>
                      <div class="socials">
                        <a href="#"><i class="material-icons blue-social">reply</i></a>
                        <a href="#"><i class="material-icons blue-social">thumbs_up_down</i></a>
                        <a href="#"><i class="material-icons blue-social">star_rate</i></a>
                      </div>
                  </div>
                  <div class="divider"></div>
              </div>  
            </div>
            <div class="col l6 m6 s12">
              <div class="card">
                  <div class="card-content">
                    <div class="badges">
                      <p>Recent Posts</p>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card-action">
                    <h6><strong>Modern Personal Home</strong></h6>
                    <div class="card-content reset-padding-left-right">
                      <div class="badges">
                        <div class="socials left">
                          <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>12</span></a>
                        </div>
                        <p class="right">4:09 PM</p>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card-action">
                    <h6><strong>Fresh Futom Convertible Chair/Bed</strong></h6>
                    <div class="card-content reset-padding-left-right">
                      <div class="badges">
                        <div class="socials left">
                          <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>6</span></a>
                        </div>
                        <p class="right">12.11.2015</p>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card-action">
                    <h6><strong>Solar Power Is Now Portable And Clear</strong></h6>
                    <div class="card-content reset-padding-left-right">
                      <div class="badges">
                        <div class="socials left">
                          <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>2</span></a>
                        </div>
                        <p class="right">12.11.2015</p>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card-action">
                    <h6><strong>New Disel Motor Revealed</strong></h6>
                    <div class="card-content reset-padding-left-right">
                      <div class="badges">
                        <div class="socials left">
                          <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>45</span></a>
                        </div>
                        <p class="right">4:09 PM</p>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
              </div>  
            </div>
          </div>
          <div class="footer-half col l6">
            <div class="col l6 m6 s12">
              <div class="card">
                  <div class="card-content">
                    <div class="badges">
                      <p>Categories</p>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card">
                    <div class="card-content">
                      <div class="badges">
                        <div class="badge-item">
                          <span class="new badge pink-lighten-6">Storage</span>
                          <span class="new badge blue-lighten-9 right">12</span>
                        </div>
                        <div class="badge-item">
                          <span class="new badge blue-lighten-8">Travel</span>
                          <span class="new badge blue-lighten-9 right">23</span>
                        </div>
                        <div class="badge-item">
                          <span class="new badge pink-lighten-7">Auto</span>
                          <span class="new badge blue-lighten-9 right">34</span>
                        </div>
                        <div class="badge-item">
                          <span class="new badge pink-lighten-6">Lifestyle</span>
                          <span class="new badge blue-lighten-9 right">18</span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>  
            </div>
            <div class="col l6 m6 s12">
              <div class="card">
                <div class="card-content">
                  <div class="badges">
                    <p>Recent Comments</p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card-action">
                  <h6><strong>Modern Personal Home</strong></h6>
                  <div class="card-content reset-padding-left-right">
                    <div class="badges">
                      <span class="chip new badge">
                        <img src="http://localhost:8000/storage/app/media/chips-img1.png" alt="Contact Person">Akira
                      </span>
                      <p class="right">4:09 PM</p>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card-action">
                  <h6><strong>Fresh Futom Convertible Chair/Bed</strong></h6>
                  <div class="card-content reset-padding-left-right">
                    <div class="badges">
                      <span class="chip new badge">
                        <img src="http://localhost:8000/storage/app/media/chips-img1.png" alt="Contact Person">Akira
                      </span>
                      <p class="right">12.11.2015</p>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card-action">
                  <h6><strong>Solar Power Is Now Portable And Clear</strong></h6>
                  <div class="card-content reset-padding-left-right">
                    <div class="badges">
                      <span class="chip new badge">
                        <img src="http://localhost:8000/storage/app/media/chips-img1.png" alt="Contact Person">Akira
                      </span>
                      <p class="right">4:09 PM</p>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
