=====
<footer class="page-footer fixed-footer">
  <div class="row custom-row">
    <div class="col l4 m12 s12">
      <a class="modal-trigger left" href="#modal2"><i class="material-icons apps-white left">apps</i></a>
      <form class="left">
        <div class="input-field left">
          <input placeholder="Subscribe for news" id="Subscribe_for_news" type="text" class="validate">
        </div>
        <a class="btn-flat">Subscribe</a>
      </form>
    </div>
    <div class="center-align footer-socials col l4 m6 s12">
      <a class="btn-floating btn-large waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
      <a class="btn-floating btn-large waves-effect waves-light white"><i class="fa fa-instagram"></i></a>
      <a class="btn-floating btn-large waves-effect waves-light white"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="col l4 m6 s12">
      <span class="center-align">Akira 2015. Made by 8Guild with <i class="material-icons red-favorite">favorite</i> love</span>
    </div>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light btn-scroll blue scrollToTop"><i class="material-icons">keyboard_arrow_up</i></a>
</footer><!-- end footer -->
<div id="modal2" class="modal bottom-sheet">
  <div class="modal-content white">
    <div class="apps-panel">
      <div class="container">
        <div class="row">
          <div class="footer-half reset-padding-left-right col l6 m12 s12">
            <div class="col l6 m6 s12">
              <div class="head-title">
                <p>On Twitter</p>
              </div>
              <div class="divider"></div>
              <div class="apps-panel-content">
                <div class="card-head reset-border reset-padding-bottom">
                  <div class="chip reset-padding-left blue-lighten-8">
                    <img src="{{ 'assets/images/chips-img1.png'|theme }}">
                    Akira
                  </div>
                </div>
                <p>I am a very simple card. I am good at containing small <a class="none-text-transform" href="#">bits of information.</a>
                    I am convenient because I require little markup to use effectively.</p>
                <p>5:34 PM - 4 Jul 2015</p>
                <div class="socials">
                  <a href="#"><i class="material-icons blue-social">reply</i></a>
                  <a href="#"><i class="material-icons blue-social">thumbs_up_down</i></a>
                  <a href="#"><i class="material-icons blue-social">star_rate</i></a>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
              <div class="apps-panel-content">
                <div class="card-head reset-border reset-padding-bottom">
                  <div class="chip reset-padding-left blue-lighten-8">
                    <img src="{{ 'assets/images/chips-img1.png'|theme }}">
                    Akira
                  </div>
                </div>
                <p>I am a very simple card. I am good at containing small <a class="none-text-transform" href="#">bits of information.</a>
                    I am convenient because I require little markup to use effectively.</p>
                <p>5:34 PM - 4 Jul 2015</p>
                <div class="socials">
                  <a href="#"><i class="material-icons blue-social">reply</i></a>
                  <a href="#"><i class="material-icons blue-social">thumbs_up_down</i></a>
                  <a href="#"><i class="material-icons blue-social">star_rate</i></a>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
            </div>
            <div class="col l6 m6 s12">
              <div class="head-title">
                <p>Recent Posts</p>
              </div>
              <div class="divider"></div>
              <div class="apps-panel-content">
                <h6><strong>Modern Personal Home</strong></h6>
                <div class="socials">
                  <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>12</span></a>
                  <p class="right reset-margin">4:09 PM</p>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
              <div class="apps-panel-content">
                <h6><strong>Fresh Futom Convertible Chair/Bed</strong></h6>
                <div class="socials">
                  <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>6</span></a>
                  <p class="right reset-margin">12.11.2015</p>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
              <div class="apps-panel-content">
                <h6><strong>Solar Power Is Now Portable And Clear</strong></h6>
                <div class="socials">
                  <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>2</span></a>
                  <p class="right reset-margin">12.11.2015</p>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
              <div class="apps-panel-content">
                <h6><strong>New Disel Motor Revealed</strong></h6>
                <div class="socials">
                  <a href="#"><i class="material-icons blue-social">chat_bubble</i><span>45</span></a>
                  <p class="right reset-margin">4:09 PM</p>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
            </div>
          </div><!-- end .footer-half -->
          <div class="footer-half reset-padding-left-right col l6 m12 s12">
            <div class="col l6 m6 s12">
              <div class="head-title">
                <p>Categories</p>
              </div>
              <div class="divider"></div>
              <div class="apps-panel-content">
                <div class="chip-item-box">
                  <div class="chip pink-lighten-6">Storage</div>
                  <div class="chip circle-chip blue-lighten-9 right">12</div>
                </div>
                <div class="chip-item-box">
                  <div class="chip blue-lighten-8">Travel</div>
                  <div class="chip circle-chip blue-lighten-9 right">23</div>
                </div>
                <div class="chip-item-box">
                  <div class="chip pink-lighten-7">Auto</div>
                  <div class="chip circle-chip blue-lighten-9 right">34</div>
                </div>
                <div class="chip-item-box">
                  <div class="chip pink-lighten-6">Lifestyle</div>
                  <div class="chip circle-chip blue-lighten-9 right">18</div>
                </div>
              </div><!-- end .apps-panel-content -->
            </div>
            <div class="col l6 m6 s12">
              <div class="head-title">
                <p>Recent Comments</p>
              </div>
              <div class="divider"></div>
              <div class="apps-panel-content">
                <h6><strong>Modern Personal Home</strong></h6>
                <div class="card-head castom-margin">
                  <div class="chip reset-padding-left blue-lighten-8">
                    <img src="{{ 'assets/images/chips-img1.png'|theme }}">
                    Akira
                  </div>
                  <p class="right reset-margin">4:09 PM</p>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
              <div class="apps-panel-content">
                <h6><strong>Fresh Futom Convertible Chair/Bed</strong></h6>
                <div class="card-head castom-margin">
                  <div class="chip reset-padding-left blue-lighten-8">
                    <img src="{{ 'assets/images/chips-img1.png'|theme }}">
                    Akira
                  </div>
                  <p class="right reset-margin">12.11.2015</p>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
              <div class="apps-panel-content">
                <h6><strong>New Disel Motor Revealed</strong></h6>
                <div class="card-head castom-margin">
                  <div class="chip reset-padding-left blue-lighten-8">
                    <img src="{{ 'assets/images/chips-img1.png'|theme }}">
                    Akira
                  </div>
                  <p class="right reset-margin">4:09 PM</p>
                </div>
              </div><!-- end .apps-panel-content -->
              <div class="divider"></div>
            </div>
          </div><!-- end .footer-half -->
        </div><!-- end .row -->
      </div><!-- end .container -->
    </div><!-- end .apps-panel -->
  </div><!-- end .modal-content -->
</div><!-- end #modal2 -->
