=====
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">IT&T</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="expertise.html">Expertise</a></li>
        <li><a href="badges.html">Services</a></li>
        <li><a href="collapsible.html">Portfolio</a></li>
        <li><a href="collapsible.html">Education</a></li>
        <li><a href="collapsible.html">Experience</a></li>
        <li><a href="collapsible.html">Contact</a></li>
      </ul>
    </div>
  </nav>
  <h1>Hello I am Sue Beck</h1>
  <h2><strong>Designer</strong> and <strong>Front-End Developer</strong></h2>
</header>
