description = "Responsive main navigation"
==
<div class="navbar-fixed">
  <nav class="z-depth-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="{{ 'home'|page }}" class="brand-logo">IT&T</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right icons-small-device">
          <li class="hide-on-med-and-down"><a data-activates="dropdown2" class="dropdown-button" href="#!"><i class="material-icons">perm_identity</i></a></li>
          <ul id="dropdown2" class="dropdown-content">
            {% if user %}
              <li><a href="#" data-request="onLogout">Log out</a></li>
            {% else %}
              <li><a href="{{ 'login'|page }}">Login</a></li>
            {% endif %}
          </ul>
          <li class="flip">
            <a href="#"><i class="material-icons">search</i></a>
          </li>
          <li><a href="#" data-activates="mobile-demo1" class="button-collapse1"><i class="material-icons">more_vert</i></a></li>
        </ul>
        <ul class="hide-on-med-and-down right nav-on-hover">
          <li class="active"><a href="{{ 'home'|page }}">Home</a></li>
          <li><a href="trending.html">Trending</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">Travel</a></li>
              <li><a href="#!">Storage</a></li>
              <li><a href="#!">Lifestyle</a></li>
            </ul>
          </li>
          <li><a href="{{ 'forum'|page }}">Forum</a></li>
          <li><a href="{{ 'blog'|page }}">Blog</a></li>
          <li><a href="{{ 'about-us'|page }}">About</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="{{ 'home'|page }}">Home</a></li>
          <li><a href="trending.html">Trending</a></li>
            <ul id="collapsible">
              <li>
                <div class="collapsible-header">
                  Categories
                  <i class="material-icons show-icon">arrow_drop_up</i>
                  <i class="material-icons hide-icon">arrow_drop_down</i>
                </div>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="travel.html">Travel</a></li>
                    <li><a href="storage.html">Storage</a></li>
                    <li><a href="lifestyle.html">Lifestyle</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          <li><a href="{{ 'blog'|page }}">Blog</a></li>
          <li><a href="{{ 'about-us'|page }}">About</a></li>
        </ul>
        <ul class="side-nav white" id="mobile-demo1">
          <div class="l-box">
            <!-- <form> -->
              <!-- <input id="icon_prefix" type="text" class="validate clearable"> -->
              <!-- <div class="input-field col s12">
                <i class="material-icons prefix right">search</i>
                <input id="icon_prefix" type="text" class="validate clearable">
              </div> -->
            <!-- </form> -->
            <div class="head-title">
              <p>On Twitter</p>
            </div>
            <div class="divider divider-reset-margin"></div>
            <div class="apps-panel-content">
              <div class="card-head reset-border reset-padding-bottom">
                <div class="chip blue-lighten-8">
                  <img src="{{ 'assets/images/chips-img1.png'|theme }}">
                  Akira
                </div>
              </div>
              <p>I am a very simple card. I am good at containing small <a class="none-text-transform" href="#">bits of information.</a>
              I am convenient because I require little markup to use effectively.</p>
              <p>5:34 PM - 4 Jul 2015</p>
              <div class="socials">
                <a href="#"><i class="material-icons blue-social">reply</i></a>
                <a href="#"><i class="material-icons blue-social">thumbs_up_down</i><span>12</span></a>
                <a href="#"><i class="material-icons blue-social">star_rate</i><span>30</span></a>
              </div>
            </div><!-- end .apps-panel-content -->
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <div class="panel z-depth-2">
    <form class="container">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate clearable">
        <label for="icon_prefix">Akira</label>
      </div>
    </form>
  </div>
</div>
