<div class="rainlab-forum">
    <div class="l-box">
        <h5>{{ posts.total }} Coments</h5>
    </div>
    <div class="divider reset-margin"></div>

    {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    {% endflash %}

    {% if returnUrl %}
        <p>&larr; <a href="{{ returnUrl }}">Back to {{ channel.title }}</a></p>
    {% endif %}

    {% if topic %}

        <!-- <h4>{{ topic.subject }}</h4> -->
    <div class="l-box">
        <div class="col-md-3 col-md-push-9">

            <div id="topicControlPanel">
                {% partial 'forum/controlpanel' %}
            </div>

        </div>
        <div class="col-md-9 col-md-pull-3">

            {% partial 'forum/posts' %}

            <h4>Reply to this discussion</h4>
            {% if not topic.canPost %}
                <p>
                    You cannot edit posts or make replies:
                    {% if member.is_banned %}Your account is banned.{% endif %}
                    {% if topic.is_locked %}This topic is locked.{% endif %}
                </p>
            {% else %}
                {% if member %}
                    {% partial 'forum/postform' %}
                {% else %}
                    <p>You should be logged in before you can post.</p>
                {% endif %}
            {% endif %}

        </div>
        
    {% elseif channel %}

        <h4>Create a new discussion topic</h4>
        {% partial "@createform" %}

    {% else %}

        <p>Topic not found</p>

    {% endif %}
    <a class="btn-floating btn-large waves-effect waves-light light-blue darken-1 custom-mode-edit-btn"><i class="large material-icons">mode_edit</i></a>
    </div>
</div>