{% set paginationEnabled =
	posts.currentPage > 1 or
	posts.lastPage > 1 or
	posts.lastPage > posts.currentPage
%}
<div class="l-box">
    <div class="forum-pagination {{ paginationEnabled ? "enabled" : "disabled" }}">
        <div class="col-md-8">
            {% partial __SELF__ ~ "forum/pagination-list" records=posts %}
        </div>
        <div class="col-md-4 text-right posts-total-summary">
            <h5>{{ posts.firstItem }}-{{ posts.lastItem }} of {{ posts.total }} Comments</h5>
        </div>
    </div>
</div>
<div class="divider divider-reset-margin"></div>
