[shares]
==
{#% set posts = __SELF__.posts %#}
<div class="posts-list">
  <div class="grid">
    <div class="grid-sizer"></div>
    {% for post in posts %}
      <div class="grid-item">
        <div class="card">
          {% if post.featured_images.count %}
            {% for image in post.featured_images %}
              <div class="card-image">
                <img
                   data-src="{{ image.filename }}"
                   src="{{ image.path }}"
                   alt="{{ image.description }}"
                   style="max-width: 100%" />
              </div>
            {% endfor %}
          {% endif %}

          <div class="card-head l-box">
            {% set categoryColor = { 'color1'       : 'deep-orange-lighten-5',
                                     'color2'       : 'pink-lighten-5',
                                     'color3'       : 'brown-lighten-5',
                                     'color4'       : 'indigo-lighten-5',
                                     'color5'       : 'light-blue-lighten-5',
                                     'color6'       : 'cyan-lighten-5',
                                     'color7'       : 'teal-lighten-5',
                                     'color8'       : 'green-lighten-5',
                                     'color9'       : 'light-green-lighten-5',
                                     'color10'      : 'lime-lighten-5',
                                     'color11'      : 'yellow-lighten-5',
                                     'color12'      : 'amber-lighten-5',
                                     'color13'      : 'orange-lighten-5',
                                     'color14'      : 'red-lighten-5',
                                     'color15'      : 'blue-lighten-5',
                                     'color16'      : 'blue-grey-lighten-5',
                                     'color17'      : 'grey-lighten-5',
                                     'color18'      : 'purple-lighten-5',
                                     'color19'      : 'deep-purple-lighten-5'
                                  }
            %}

            <div class="chips-wrap left">
              {% for category in post.categories %}
                <div class="chip {{ categoryColor['color' ~ category.id] }}">
                  <a href="{{ category.url}}">{{ category.name }}</a>
                </div>
              {% endfor %}
            </div>
            <p class="right">{{ post.published_at|date('M d, Y') }}</p>
          </div>

          <div class="card-content">
            <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
            <p class="excerpt">{{ post.summary }}</p>
          </div>
          <div class="card-action">
            <a class="left" href="{{ post.url }}">Read More</a>
            
            {% partial 'shares/default' %}
          </div>
        </div><!-- end .card -->
      </div><!-- end .grid-item -->
    {% else %}
      <div class="no-data">{{ noPostsMessage }}</div>
    {% endfor %}
  </div><!-- end .grid -->
</div><!-- end .posts-list -->

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}