<div id="carousel-{{ carousel.id }}" class="slider" data-ride="carousel">
  {#
  {% if carousel.images|length > 1 %}
  <ul class="carousel-indicators">
  {% for i, image in carousel.images %}
    <li data-target="#carousel-{{ carousel.id }}" data-slide-to="{{ loop.index - 1 }}"{% if loop.first %} class="active"{% endif %}></li>
  {% endfor %}
  </ul>
  {% endif %}
  #}

  {% if carousel.images|length > 0 %}
  <ul class="slides" role="listbox">
    {% for i, image in carousel.images %}
    <li class="item{% if loop.first %} active{% endif %}">
      <img src="{{ image.path }}" alt="{{ image.title }}">
      <div class="caption left-align">

        {% if image.title %}<h3>{{ image.title }}</h3>{% endif %}

        {% if image.description %}<p>{{ image.description }}</p>{% endif %}

      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if carousel.images|length > 1 %}
    <a class="left carousel-control back-slide-arrow" {#href="#carousel-{{ carousel.id }}"#} role="button" data-slide="prev">
      <span aria-hidden="true"><i class="material-icons">arrow_back</i></span>
      <span class="hide sr-only">Previous</span>
    </a>
    <a class="right carousel-control forward-slide-arrow" {#href="#carousel-{{ carousel.id }}"#} role="button" data-slide="next">
      <span class="hide sr-only">Next</span>
      <span aria-hidden="true"><i class="material-icons">arrow_forward</i></span>
    </a>
  {% endif %}
</div>
