{% set post = blogPost.post %}

<div class="content">{{ post.content_html|raw }}</div>

<!-- {% if post.featured_images.count %} -->
<!--     <div class="featured&#45;images text&#45;center"> -->
<!--         {% for image in post.featured_images %} -->
<!--             <img -->
<!--                 data&#45;src="{{ image.filename }}" -->
<!--                 src="{{ image.path }}" -->
<!--                 alt="{{ image.description }}" -->
<!--                 style="max&#45;width: 100%" /> -->
<!--         {% endfor %} -->
<!--     </div> -->
<!-- {% endif %} -->

<div class="chips-wrap left">
    {% if post.categories.count %}
        {% for category in post.categories %}
            <div class="chip {{ categoryColor['color' ~ category.id] }}">
                <a href="{{ category.url }}">{{ category.name }}</a>
            </div>
        {% endfor %}
    {% endif %}
    <p class="right">
        {{ post.published_at|date('M d, Y') }}
        {% partial 'shares/default' %}
    </p>
</p>
