[shares]
==
{% set post = blogPost.post %}

<div class="content">{{ post.content_html|raw }}</div>

{#
{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <img
                data-src="{{ image.filename }}"
                src="{{ image.path }}"
                alt="{{ image.description }}"
                style="max-width: 100%" />
        {% endfor %}
    </div>
{% endif %}
#}

<div class="l-box">
  <div class="chips-wrap left">
    <div class="chip">
        <img src="{{ member.user.avatarThumb(50) }}" alt="{{ post.member.username }}">
        {{ member.username }}
    </div>
    {% if post.categories.count %}
        {% for category in post.categories %}
            <div class="chip {{ categoryColor['color' ~ category.id] }}">
                <a href="{{ category.url }}">{{ category.name }}</a>
            </div>
        {% endfor %}
    {% endif %}
  </div>
  <p class="right">
    {{ post.published_at|date('M d, Y') }}
    {% component 'shares' %}
  </p>
</div>
