@import '//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700';
@import '//fonts.googleapis.com/icon?family=Material+Icons';
@import 'materialize';

html, body {
    height: 100%;
}

body {
    min-width: 320px;
}

header {
    background-color: #273238;
    height: 300px;
}

nav {
    background-color: transparent;
    box-shadow: 0;
    text-transform: uppercase;
    font-size: 17px;
    border-bottom: 1px solid #424d53;
}

